body{
    background: #E9ECEF;
}
.container{
    padding: 24px;
    text-align: center;
}

.upper{
    padding-top: 64px;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

h2, h4, input, .answerOption{
    margin: 20px;
}

.answerOption{
    font-size: 24px;
}

button{
    padding: 10px;
    margin: 10px;
}

#start{
    margin: 32px 10px 22px;
}

#submit{
    display:none;
}